@font-face {
  font-family: "iconfont"; /* Project id 3001982 */
  src: url('//at.alicdn.com/t/font_3001982_0wl6cceupiq.woff2?t=1640161012440') format('woff2'),
       url('//at.alicdn.com/t/font_3001982_0wl6cceupiq.woff?t=1640161012440') format('woff'),
       url('//at.alicdn.com/t/font_3001982_0wl6cceupiq.ttf?t=1640161012440') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: "\e78e";
}

.icon-fullscreen:before {
  content: "\e7ec";
}

.icon-fullscreen-exit:before {
  content: "\e7ed";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-dashboard:before {
  content: "\e78b";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-areachart:before {
  content: "\e7af";
}

.icon-indent:before {
  content: "\e7f3";
}

.icon-outdent:before {
  content: "\e7f4";
}
